<h2>Update the drone</h2>
<form action="/drones/{{droneToEdit.id}}/edit" method="post" class="form-horizontal">
    <div class="form-group col-sm-10">
        <label for="name"> Name:
            <input type="text" name="name" class="form-control" value="{{droneToEdit.name}}">
        </label>
    </div>
    <div class="form-group col-sm-10">
        <label for="propellers"> Propellers:
            <input type="number" name="propellers" class="form-control" value="{{droneToEdit.propellers}}">
        </label>
    </div>
    <div class="form-group col-sm-10">
        <label for="maxSpeed"> Max Speed:
            <input type="number" name="maxSpeed" class="form-control" value="{{droneToEdit.maxSpeed}}">
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Save changes</button>
</form>
<a href="/drones" class="btn btn-danger btn-sm">Go back</a>